# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Dependencias
node_modules/
vendor/

# Archivos de build/compilación
dist/
build/
out/
*.exe
*.o
*.obj

# Logs
*.log

# Variables de entorno
.env
.env.local

# Archivos temporales
*.tmp
*.swp